<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keyword" content="">
    <title>博客-Welcome</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        a{
            text-decoration: none;
            color:#000;
        }
        p{
            cursor:default;
        }
        html{
            font-size: 14px;
            font-family: "Microsoft YaHei UI",Serif;
        }
        body{
            max-width:1920px;
            min-width:1000px;
            margin:0 auto;
        }
        ul,ol{list-style:none}
    </style>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <!--背景-->
    <div id="bg">
    </div>
    <!--头像和名称-->
    <div id="head">
        <!--头像-->
        <div class="h-img">
            <a href=""></a>
        </div>
        <!-- 名称-->
        <div class="tit">
            <p>This is Mr_Mei</p>
        </div>
    </div>
    <!--导航-->
    <div id="nav">
        <!--导航开关-->
        <div class="log">
            <p class="l-top"></p>
            <p class="l-mid"></p>
            <p class="l-bot"></p>
        </div>
        <!--导航内容-->
        <div class="nav-main">
            <ul>
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">文章</a>
                </li>
                <li>
                    <a href="">个人中心</a>
                </li>
                <li>
                    <a href="">联系</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="decorate">
        <svg ></svg>
    </div>

    <!--主页内容-->
    <div id="content">
        <div class="con-main">
            <ul>
                <li>
                    <div class="pic"></div>
                    <!--标题-->
                    <div class="title">
                        <div class="tit-bg"></div>
                        <p class="tit t1"><a href="">我还好我没哭</a> </p>
                        <p class="tit t2">发布时间：2019/04/06</p>
                        <p class="tit t3">浏览量：8000</p>
                    </div>

                    <!--文章内容-->
                    <div class="article">
                        <p>确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命令...
                        </p>
                        <div class="more">
                            <a href="">阅读全部</a>
                        </div>
                        <div class="com">
                            <a href="">
                                <span>88</span>条评论
                            </a>
                        </div>
                    </div>
                </li>
                <li class="right">
                    <div class="pic"></div>
                    <div class="title">
                        <div class="tit-bg"></div>
                        <p class="tit t1"><a href="">我还好我没哭</a></p>
                        <p class="tit t2">发布时间：2019/04/06</p>
                        <p class="tit t3">浏览量：8000</p>
                    </div>
                    <div class="article">
                        <p>确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命令...
                        </p>
                        <div class="more">
                            <a href="">阅读全部</a>
                        </div>
                        <div class="com">
                            <a href="">
                                <span>88</span>条评论
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pic"></div>
                    <div class="title">
                        <div class="tit-bg"></div>
                        <p class="tit t1"><a href="">我还好我没哭</a></p>
                        <p class="tit t2">发布时间：2019/04/06</p>
                        <p class="tit t3">浏览量：8000</p>
                    </div>
                    <div class="article">
                        <p>确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命令...
                        </p>
                        <div class="more">
                            <a href="">阅读全部</a>
                        </div>
                        <div class="com">
                            <a href="">
                                <span>88</span>条评论
                            </a>
                        </div>
                    </div>
                </li>
                <li class="right">
                    <div class="pic"></div>
                    <div class="title">
                        <div class="tit-bg"></div>
                        <p class="tit t1"><a href="">我还好我没哭</a></p>
                        <p class="tit t2">发布时间：2019/04/06</p>
                        <p class="tit t3">浏览量：8000</p>
                    </div>
                    <div class="article">
                        <p>确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命令...
                        </p>
                        <div class="more">
                            <a href="">阅读全部</a>
                        </div>
                        <div class="com">
                            <a href="">
                                <span>88</span>条评论
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pic"></div>
                    <div class="title">
                        <div class="tit-bg"></div>
                        <p class="tit t1"><a href="">我还好我没哭</a></p>
                        <p class="tit t2">发布时间：2019/04/06</p>
                        <p class="tit t3">浏览量：8000</p>
                    </div>
                    <div class="article">
                        <p>确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命令...
                        </p>
                        <div class="more">
                            <a href="">阅读全部</a>
                        </div>
                        <div class="com">
                            <a href="">
                                <span>88</span>条评论
                            </a>
                        </div>
                    </div>
                </li>
                <li class="right">
                    <div class="pic"></div>
                    <div class="title">
                        <div class="tit-bg"></div>
                        <p class="tit t1"><a href="">我还好我没哭</a></p>
                        <p class="tit t2">发布时间：2019/04/06</p>
                        <p class="tit t3">浏览量：8000</p>
                    </div>
                    <div class="article">
                        <p>确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命令...
                        </p>
                        <div class="more">
                            <a href="">阅读全部</a>
                        </div>
                        <div class="com">
                            <a href="">
                                <span>88</span>条评论
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div id="footer">

    </div>
    <script>
        let aNav=document.querySelector("#nav");
        aNav.onclick=function(){
            aNav.classList.toggle("show")
        };

        (function(){
            let title=document.title;
            window.addEventListener("focus",()=>{
                document.title=title;
            });
            window.addEventListener("blur",()=>{
                document.title="客官，慢走"
            })
        })();
    </script>
</body>
</html>